<!DOCTYPE html>
<html>
  <head>
    <title data-lang data-lang-es="Mi colecci贸n de notas" data-lang-en="My note collection">Mi colecci贸n de notas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <%= link_to notes_path, class: 'brand-logo center', data: { lang: '', lang_es: 'Mi colecci贸n de notas', lang_en: 'My note collection' } do %>
            Mi colecci贸n de notas
          <% end %>
          <ul id="nav-mobile" class="right">
            <li>
              <a href="#" id="toggle-dark-mode" class="btn-floating btn-small tooltipped" data-tooltip="Cambiar tema" data-lang-es="Cambiar tema" data-lang-en="Toggle Theme">
                <%= material_icon.brightness_4 %>
              </a>
            </li>
            <li>
              <a href="#" id="toggle-language" class="btn-floating btn-small tooltipped" data-tooltip="Cambiar idioma" data-lang-es="Cambiar idioma" data-lang-en="Toggle Language">
                <%= material_icon.language %>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
